@model IEnumerable<Tehnika.Models.Product>

@{
    ViewBag.Title = "Техника.мк";
}

<h2>Производи</h2>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table id="products" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a href="/Products/SearchDetailed/@item.Id"><img src="@item.ImageURL" width="300" height="300" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount) %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty) дена
                </td>

                <td>
                    <div id="links">
                        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                        {
                            @Html.ActionLink("Измени", "Edit", new { id = item.Id }, new { @class = "btn btn-primary c1" })
                        }

                        @Html.ActionLink("Детали", "Details", new { id = item.Id }, new { @class = "btn btn-primary c2" })

                        @if (User.IsInRole("Administrator"))
                        {
                            //@Html.ActionLink("Избриши", "Delete", new { id = item.Id })
                            <button data-id="@item.Id" class="btn btn-primary js-delete c3">Избриши</button>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

<style>
    .c1{
        background-color: whitesmoke;
        color: darkslategray
    }
    .c2{
        background-color: darkgray
    }
    .c3{
        background-color:darkslategray
    }

    #links {
        height: 280px;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
</style>



@section Scripts{
    <script>
        $(function () {
            var table = $("#products").DataTable();
            $("#products .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Дали сакате да го избришете овој производ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Products/Delete/" + button.attr("data-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        })
                    }

                })
            })

        })
    </script>

}