@{
    ViewBag.Title = "Техника - Продавница за техника";
}


<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <span style="font-weight:bold">@Html.ActionLink("Сите категории", "Search/all", "Products")</span>
    @Html.ActionLink("Преносни компјутери", "Search/laptop", "Products")
    @Html.ActionLink("Десктоп компјутери", "Search/desktop", "Products")
    @Html.ActionLink("Мобилни телефони", "Search/phone", "Products")
    @Html.ActionLink("Бела техника", "Search/white", "Products")
    @Html.ActionLink("Апарати за домаќинство", "Search/householdappliance", "Products")
    @Html.ActionLink("Телевизори", "Search/tv", "Products")
    @Html.ActionLink("Мали апарати", "Search/smallappliance", "Products")
    <a href="/Products/Search/all"><img src="../../Images/magnifier.png" width="20px"></a>
</div>

<div id="asdf">
    <button class="openbtn" onclick="openNav()">&#9776; Отвори мени</button>
</div>



<script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidebar").style.width = "300px";
        document.getElementById("main").style.marginLeft = "300px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

</script>








<img src="../../Images/logo.jpg" width="1100px" />
@if (User.IsInRole("Administrator"))
{

    <a style="display:block" class="btn btn-success text-center" href="/Products/BuyList">Преглед на купените производи</a>
}

<a href="/Products/Search/phone"><img src="../../Images/commercial1.jpg" /></a>

<a href="/Products/Search/laptop"><img src="../../Images/commercial2.jpg" /></a>

<a href="/Products/Search/phone"><img src="../../Images/commercial3.jpg" /></a>

<a href="/Products/Search/white"><img src="../../Images/commercial4.jpg" /></a>

<link href="~/script1.css" rel="stylesheet" />
